* {
  max-width: 100%;
  box-sizing: border-box;
}

html,
body {
  background-image: url(./v882-kul-42-a.jpg);
  background-size: cover;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

footer p {
  background-color: black;
  text-align: center;
  margin: 20px 0px 20px 0px;
  padding: 40px 0px 40px 0px;
  border: 2px;
  font-size: 0.7rem;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  color: palevioletred;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.navbar {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right, skyblue, violet, purple);
  justify-content: flex-end;
}

.navbar ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar li {
  padding: 10px;
}

.home,
.tecblog,
.hskills {
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: pink;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
}

#astro {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  justify-content: start;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 10px;
}

.myphoto {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.myphoto img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 4px solid gray;
  margin-top: 100px;
  max-width: 100%;
  display: block;
}

.h1kia {
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px 10px;
  flex-wrap: nowrap;
  display: block;
  background-color: black;
}

.introduction {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.aboutme {
  color: palevioletred;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.box1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 50px;
  padding: 35px;
  border-radius: 10px;
}

p {
  color: palevioletred;
  font-size: 2rem;
  font-family: sans-serif;
}

/* tech blog styles*/

.tbbox1,
.hsbox1 h1 {
  color: palevioletred;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
}

.tbbox2 {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

button {
  height: 100px;
  width: 150px;
  background-image: linear-gradient(to right, skyblue, purple);
  border-radius: 20px;
  text-decoration: none;
  border-color: palevioletred;
  margin: 20px;
  padding: 15px;
}
.tehoutaewa {
  font-family: monospace;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

.cssconcepts h2 {
  text-align: center;
  font-size: 2rem;
  color: palevioletred;
}

.burger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
}
/*human skills page

.hsbox1 p {
  height: 500px;
  width: 500px;
  align-items: center;
  margin: 10px;
  justify-content: center;
  display: flex;
}
  */

/* for mobile devices */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .navbar {
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }

  .navbar ul {
    flex-direction: row;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .myphoto img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    display: block;
  }

  .navbar li {
    display: inline-block;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
